/* Highlight invalid patterns (e.g. Route 53) */
input[pattern]:invalid {
  background-color: yellow;
}

/* de-bold navigation tabs to stop distracting UI reflows when clicking them */
.gwt-TabLayoutPanelTab-selected, .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  font-weight: normal !important;
}

/* Route 53. GEHJJTKDLIE=subdomain div, GEHJJTKDC2D=domain div, GEHJJTKDM1D=subdomain input, GEHJJTKDFHE=value div */
.GEHJJTKDLIE, .GEHJJTKDC2D, .GEHJJTKDM1D, .GEHJJTKDFHE textarea {
  font-family: monospace !important;
}
.GEHJJTKDFHE textarea {
  resize: auto !important;
  min-height: 110px !important;
}

/* "Are you launching a database instance? Try Amazon RDS." in the ec2 launch wizard */
/* "How would you rate your experience with the CloudWatch management console?" top bar */
.rds_campaign_cell, #awsc-custsat {
  display: none !important;
}

/* Display system region name in region drop-down */
#regionMenuContent {
  min-width: 260px;
}
#regionMenuContent .region:after {
  content: attr(data-region-id);
  color: #ccc;
  float: right;
  font-weight: normal;
}
/* In November 2019 they added their own region codes, but they look worse than our region codes, so hide them for now */
#regionMenuContent .region:not(.unavailable-region) .region-code {
  display: none !important;
}
